<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css.css">    
</head>  
<style>
    a{
        text-align:center;
    }
    body {background-image:url("/static/background.jpg");
    background-size:cover;
        text-align:center;
    width: 1000px; 
  border: 15px solid rgb(182, 202, 111);
  padding: 30px;
  margin: 150px;
  background-color:#FFFACD;
    }
    
</style> 

<body>   
    <script>
        function validateForm() {
    var x = document.forms["myform"]["q"].value;
    var y = document.forms["myform"]["a"].value;
    if (x == "" ) {
      alert("quesiton cant be empty");
      return false;
    }
    if (y=="")
    {
        alert("every question need to have an answer");   
    
      return false;
    } }
    </script> 
     <h1 style="background-color:#FFD700;text-align:center">ADD CARD</h1> 
     <h2 style="background-color:rgba(255, 99, 71, 0.5); text-align:center">DECKNAME: {{de.deckname}}<h2>
    
        <div  style="text-align:right">
            <a href="/login_user"> <button style="font-size: 20px;border-radius: 6px; background-color: #87CEEB; float: right;" >LOGOUT</button> </a>
           </div>

    <div >    
        <form name="myform" action="/{{u.user_id}}/{{de.deck_id}}/add_card" method="POST"  onsubmit="return validateForm()"  id="create-form"
        style="text-align:center">
        <label><b>Enter Question   
        </b>    
        </label>  
        <input type="text" name="q" value=" " required />  
         
        <br><br>    
        <label><b>Enter Answer   
        </b>    
        </label> 
        <input type="text" name="a" value=" " required />    
        <br><br>  
       
       <a href="/{{u.user_id}}/{{de.deck_id}}/deck_dashboard"><input style="font-size: 20px;border-radius: 6px; background-color: #87CEEB; text-align:center" type="submit" value="Add Card"/> </a>
      
    </form>
    <br>
    <div style="text-align:center">
    <a  href="/{{u.user_id}}/{{de.deck_id}}/deck_dashboard"><input type="submit" style="font-size: 20px;border-radius: 6px; background-color: #87CEEB; text-align:center" value="Return to Deck Dashboard"/> </a>
     </div>
          
</div>    
</body>    
</html>