<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASHCARD FOR LANGUAGE TRANSLATION</title>
<link rel='stylesheet' href='css.css'>
</head>
<style>
    body { text-align:center;
    width: 900px; 
    background-image:url("/static/background.jpg");
    background-size:cover;
    
    
  border: 15px solid rgb(182, 202, 111);
  padding: 50px;
  margin: 250px;
  background-color: #FFFACD;}
</style>
<h1 style="background-color:#FFD700;text-align:center>FLASHCARDS FOR LANGUAGE TRANSLATION</h1>

<body >
  <h1 style="font-size: 30px;border-radius: 8px;background-color:#98FB98;> FLASHCARDS - LANGUAGE TRANSLATION </h1>
    <div  style="text-align:center">
    <img src="/static/img_final.png" alt="pic"
    width="300" 
     height="240" >
    </div>
    <br><br>
    <div style="text-align:center">   
        <a href="/login_user"><input type="submit" style="font-size: 30px;border-radius: 8px;background-color:#98FB98; text-align:center" value="LET'S START"/>  </a>
    </div>

</body>
</html>