<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css.css">    
</head> 
<style>
    body {background-image:url("/static/background.jpg");
    background-size:cover;
        
    text-align:center;
    width: auto; 
  border: 15px solid rgb(182, 202, 111);
  padding: 30px;
  margin: 150px;
  background-color:#FFFACD;}
</style>   
<body>    
    <script>
        function validateForm() {
    var x = document.forms["myform"]["deck_name"].value;
    var y = document.forms["myform"]["descr"].value;
    if (x == "" ) {
      alert("Deck name cant be empty");
      return false;
    }
    if (y=="")
    {
        alert("deck should hae a description");   
    
      return false;
    }
}
  
    </script>


 <div  style="text-align:right">
            <a href="/login_user"> <button style="font-size: 20px;border-radius: 6px; background-color: #87CEEB; float: right;" >LOGOUT</button> </a>
           </div>

    <h1 style="background-color:#FFD700;text-align:center">UPDATE DECK</h1>
    <h2 style="background-color:rgba(255, 99, 71, 0.5); text-align:center"">USER: {{u.username}}</h2>
       

    <div >    
        <form  style="text-align:center" name="myform" action="/{{u.user_id}}/{{de.deck_id}}/update_deck" method="POST"  onsubmit="return validateForm()"  id="create-form">
        <label><b>Deck Name     
        </b>    
        </label>  
        <input type="text" name="deck_name"  value="{{de.deckname}}" required />  
         
        <br><br>    
        <label><b>Description    
        </b>    
        </label> 
        <input type="text" name="descr" value="{{de.description}}" required />    
        <br><br>  
        <a href="/{{u.user_id}}/dashboard"><input style="font-size: 20px;border-radius: 6px; background-color: #87CEEB; text-align:center" type="submit" value="Update Deck"/> </a>
    </form> 
</div> 
<br><br>
<div style="text-align:center">
    <a href="/{{u.user_id}}/dashboard"><input  style="font-size: 20px;border-radius: 6px;background-color: #87CEEB; text-align:center" type="submit" value="Return to Dashboard"/> </a>
</div>    
</body>    
</html>